<div class="flex rounded-md bg-primary-200 px-4 py-3 dark:bg-primary-700">
  <span class="pe-3 text-primary-600">
    {{ partial "icon.html" "circle-info" }} Deprecated
  </span>
  <span class="dark:text-neutral-500">
    This page content is deprecated and does not work anymore. It will not be updated.
  </span>
</div>
<br />
