<div class="flex rounded-md bg-primary-200 px-4 py-3 dark:bg-primary-700">
  <span class="pe-3 text-primary-600">
    {{ partial "icon.html" "circle-info" }} Incomplete
  </span>
  <span class="dark:text-neutral-500">
    This page content is incomplete. As I'm not using this project anymore will not be completed.
  </span>
</div>
<br />
