<div class="flex rounded-md bg-primary-100 px-4 py-3 dark:bg-primary-900">
  <span class="pe-3 text-primary-400">
    {{ partial "icon.html" "triangle-exclamation" }} Security
  </span>
  <span class="dark:text-neutral-300">
	By following these steps you will provide a service via network.
	This might lead to a vulnerable systems.
	Therefore make sure to restrict the access to the service for example by configuring your firewall accordingly.
  </span>
</div>
<br />
