<div class="flex rounded-md bg-primary-200 px-4 py-3 dark:bg-primary-700">
  <span class="pe-3 text-primary-600">
    {{ partial "icon.html" "circle-info" }} Warranty
  </span>
  <span class="dark:text-neutral-500">
    There is no warranty that this setup works for any system which provide the dependencies listed below.
    I'm just providing these information because it worked for me.
    If you have questions you can leave a message here but I decide whether I'll answer and help or not.
  </span>
</div>
<br />
